/* company details homepage */


.company-container {
    width: 100%;
    font-weight: 500;
    margin: auto;
    font-family: "Arial", sans-serif;
    color: white;
    line-height: 1.8;
    padding: 40px;
    font-size: 18px;
    text-align: justify;
    /* background:black; */
    /* background-image: url("https://media.istockphoto.com/id/1173740436/photo/modern-high-tech-authentic-robot-arm-holding-contemporary-super-computer-processor-industrial.jpg?s=2048x2048&w=is&k=20&c=SX-sZ0JlIMJXiqZ7q5DRV6MAvxa1kLXDNQlJeT3cSpc="); */
    /* background-image: url("https://images.pexels.com/photos/3855962/pexels-photo-3855962.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"); */
    /* background-image: url("https://images.pexels.com/photos/5462679/pexels-photo-5462679.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"); */
    background-image: url("https://media.istockphoto.com/id/817293058/photo/cyborg-hand-working-with-cpu.jpg?s=2048x2048&w=is&k=20&c=R9VwJb-iO0LtnDeqEvMfqyQ1UbGkD6GLE6HelFi-7BM=");
    /* background-image: url("https://thumbs.dreamstime.com/z/detailed-technical-sketch-showcases-engineering-design-hydroelectric-dam-turbine-highlighting-intricate-components-345087609.jpg?ct=jpeg"); */
    /* background-image: url("https://thumbs.dreamstime.com/z/modern-turbine-designs-motion-under-rushing-water-create-dynamic-energy-modern-turbine-designs-motion-under-rushing-water-353673966.jpg?ct=jpeg"); */
    /* background-image: url("https://thumbs.dreamstime.com/z/efficient-hydropower-turbine-design-flowing-water-close-up-view-efficient-hydropower-turbine-design-flowing-water-353672734.jpg?ct=jpeg"); */
    /* background-image: url("https://thumbs.dreamstime.com/z/efficient-hydropower-turbine-design-flowing-water-close-up-view-efficient-hydropower-turbine-design-flowing-water-353672734.jpg?ct=jpeg"); */
    
    /* background-image: url("https://wallpapercave.com/wp/wp7004552.jpg"); */
    background-attachment: fixed;
    
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

.company-header {
    text-align: center;
    margin-bottom: 30px;
    
}

.company-icon {
    font-size: 28px;
    font-weight: bold;
    color: #007bff;
    
}

.company-title {
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    color: white;
}

.sarayu_divider {
    width: 400px !important;
    height: 3px;
    background-color: #007bff;
    border: none;
    margin: 10px auto;
    border-radius: 5px;
}

.company-content p {
    font-size: 16px;
    margin-bottom: 15px;
    color: white;
    font-family: "Open Sans", serif;
    backdrop-filter: blur(3px); 
}
.sarayu-home-heading{
    font-size: 23px;
    color: white !important;
}

.company-content strong {
    font-weight: bold;
    color: #222;
}

/* Responsive Design */
@media (max-width: 768px) {
    .company-container {
        padding: 20px;
        font-size: 16px;
    }
    
    .company-title {
        font-size: 22px;
    }
    
    .company-content p {
        font-size: 14px;
    }
}

