@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap');

.main_banner_section{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-y: hidden;
    /* border-top-right-radius: 70%; */
}


.main_banner_section > div{
    width: 100%;
    height: 100%;
    /* border-radius: 5px; */
    background: linear-gradient(to top,black,rgba(0, 0, 0, 0.185));
}
.main_banner_section_image{
    position: absolute;
    width: 100%;
    height: 170%;
    z-index: -99999;
    
}
.main_banner_section_carousel_small{
    position: absolute;
    bottom: 4px;
    right: 4px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 400px !important;
    height: 60px !important;
    
    /* background: white;  */
    padding: 4px;
}
.main_banner_section_carousel_small > div{
    width: 100px;
    height: 100%;
}
.main_banner_section_carousel_small > div > img{
    width: 100%;
    height: 100%;
    scale: 1;
    transition: all .6s ease-in-out;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.473);
    cursor: pointer;
}
.main_banner_section_carousel_small_active_img{
    border: 2px solid rgb(0, 0, 0);
    transition: all 1s ease-in-out;
    overflow: hidden;
    scale: 1.3;
    z-index: 99999;
    cursor: pointer;
}
.main_banner_section_content_container{
    display: grid;
    /* background: rgb(194, 170, 215); 
    background: rgb(163, 163, 237);  */
}

.main_banner_section_content_container h2 {
    text-align: start;
    /* margin: 20px 0; */
    padding: 30px 0;
    width: 100%;
    color: white;
}

.main_banner_section_content_container > div:first-child{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 40px;
    font-size: 20px;
    font-weight: 500;
    width: 60vw;
    color: white;
}
/* .product-image {
    max-width: 100%;
    height: auto;
    } */
    
    .main_banner_section_horizontal_line{
    height: 2px;
    width: 72vw;
    position: absolute;
    bottom: 65px;
    left: 0px;
    background: rgb(209, 0, 209);
}  


/* banner section ends here */

.hero {
    width: 100%;
    min-height: 100vh;
    /* background-color: #ddd; */
    background-color: white;
    /* background: linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,0.7)), url("../../assets/background.jpg"); */
    background-size: cover;
    background-position: center;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_text {
    text-align: center;
    max-width: 800px;
}

.hero_text h1 {
    font-size: 40px;
    font-weight: 600;
}


.hero_text p {
    max-width: 700px;
    
    margin: 10px  auto 20px ;
    line-height: 1.4;
}

.hero_section_main_container{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 30px;
    position: relative;
}
.vertical_line{
    width: 2px;
    height: 400px;
    background: black;
    position: absolute;
    left: 50%;
}
.hero_sction_left_section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
}
.hero_sction_right_section {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero_sction_right_section > img{
    width: 18%;
    height: 100%;
}
.left_section_dot{
    position: absolute;
    width: 15px;
    height: 15px;
    background: black;
    right: -28px;
    top: 10%;
    border-radius: 50%;
}


.hero_sction_left_section {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero_sction_left_section > img{
    width: 18%;
    height: 100%;
}

.hero_sction_right_section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
}

.right_section_dot{
    position: absolute;
    width: 15px;
    height: 15px;
    background: black;
    left: -26px;
    top: 10%;
    border-radius: 50%;
}





/* company details homepage */


.company-container {
    width: 100%;
    font-weight: 500;
    margin: auto;
    font-family: "Arial", sans-serif;
    color: white;
    line-height: 1.8;
    padding: 40px;
    font-size: 18px;
    text-align: justify;
    background:white ;
    /* background-image: url("https://media.istockphoto.com/id/1173740436/photo/modern-high-tech-authentic-robot-arm-holding-contemporary-super-computer-processor-industrial.jpg?s=2048x2048&w=is&k=20&c=SX-sZ0JlIMJXiqZ7q5DRV6MAvxa1kLXDNQlJeT3cSpc="); */
    /* background-image: url("https://images.pexels.com/photos/3855962/pexels-photo-3855962.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"); */
    /* background-image: url("https://images.pexels.com/photos/5462679/pexels-photo-5462679.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"); */
    /* background-image: url("https://media.istockphoto.com/id/817293058/photo/cyborg-hand-working-with-cpu.jpg?s=2048x2048&w=is&k=20&c=R9VwJb-iO0LtnDeqEvMfqyQ1UbGkD6GLE6HelFi-7BM="); */
    /* background-image: url("https://thumbs.dreamstime.com/z/detailed-technical-sketch-showcases-engineering-design-hydroelectric-dam-turbine-highlighting-intricate-components-345087609.jpg?ct=jpeg"); */
    background-image: url("https://thumbs.dreamstime.com/z/modern-turbine-designs-motion-under-rushing-water-create-dynamic-energy-modern-turbine-designs-motion-under-rushing-water-353673966.jpg?ct=jpeg");
    /* background-image: url("https://thumbs.dreamstime.com/z/efficient-hydropower-turbine-design-flowing-water-close-up-view-efficient-hydropower-turbine-design-flowing-water-353672734.jpg?ct=jpeg"); */
    /* background-image: url("https://thumbs.dreamstime.com/z/efficient-hydropower-turbine-design-flowing-water-close-up-view-efficient-hydropower-turbine-design-flowing-water-353672734.jpg?ct=jpeg"); */
    
    /* background-image: url("https://wallpapercave.com/wp/wp7004552.jpg"); */
    background-attachment: fixed;
    
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);  */
    /* border-radius: 10px; */
}

.company-header {
    text-align: center;
    margin-bottom: 30px;
    
}

.company-icon {
    font-size: 28px;
    font-weight: bold;
    color: #007bff;
    
}

.company-title {
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    color: white;
}

.sarayu_divider {
    width: 400px !important;
    height: 3px;
    background-color: #007bff;
    border: none;
    margin: 10px auto;
    border-radius: 5px;
}

.company-content p {
    font-size: 16px;
    margin-bottom: 15px;
    color: white;
    font-family: "Open Sans", serif;
    backdrop-filter: blur(3px); 
}
.sarayu-home-heading{
    font-size: 22px;
}

.company-content strong {
    font-weight: bold;
    color: #222;
}

/* Responsive Design */
@media (max-width: 768px) {
    .company-container {
        padding: 20px;
        font-size: 16px;
    }
    
    .company-title {
        font-size: 22px;
    }
    
    .company-content p {
        font-size: 14px;
    }
}


/* our mission card*/



.mission-vision-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px;
    background-color: white;
    flex-wrap: wrap;
}

.card {
    width: 630px;
    height: 320px;
    background: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}


.card:hover {
    transform: translateY(-5px);
}


.icon {
    font-size: 80px;
    color: #ff4500; /* Adjust color if needed */
}


.card h2 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}


.card_divider {
    width: 300px;
    height: 3px;
    background: #007bff;
    margin: 10px auto;
    border-radius: 5px;
}


.card p {
    font-size: 16px;
    font-family: "Open Sans", serif;
    font-weight: 500;
    color: #555;
    line-height: 1.5;
}








.home-container {
    text-align: center;
    padding: 5px;
    background-color: #f8f9fa;
    background-image: url("https://media.istockphoto.com/id/2154963707/photo/artificial-intelligence-robot-control-futuristic-data-screen-ai-by-enter-command-prompt-for.jpg?s=2048x2048&w=is&k=20&c=lIa9gpsh9F8CxruEH8-yRUIC_0mOZF5ERy1SSEx_dW0=");
    /* background-image: url("https://media.istockphoto.com/id/2137300670/photo/3d-robotic-render-automatic-monitering-data-cyber-security-auto-matic-protect-online.jpg?s=2048x2048&w=is&k=20&c=gLGZlyp-2rDh5E9fYUdBE1vDn7HhEHt-A39_uZL5FEY="); */
    background-attachment: fixed;
}

.title {
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0px;
    color: white;
  }
  
  .core-values-image {
      max-width: 100%;
      height: auto;
      /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); */
      border-radius: 10px;
    }
    
    .core_divider{
        width: 300px;
        height: 3px;
        background: #007bff;
        margin: 10px auto;
        border-radius: 5px;
    }
    

    
    
   